/* General section and container styles */
.sectionMeals {
  background-color: #ffffff;
  padding: 5.5rem 0;
}

.containerPackages {
  padding: 0 3.2rem;
  margin: 0 auto;
}

.headingSecondaryPackages {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

/* Grid layout */
.gridPackages {
  display: grid;
  gap: 2.4rem;
}

.grid3Cols {
  grid-template-columns: repeat(3, 1fr);
}

.marginBottomMd {
  margin-bottom: 4.8rem;
}

/* Meal card styles */
.meal {
  transition: all 0.4s;
  position: relative;
  background-color: #fff;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 4px 41px rgba(0, 0, 0, 0.4);
  width: 400px;
  height: 434px;
  margin: 0 auto;
}

.meal:hover {
  transform: translateY(-1.2rem);
}

/* Meal image styles */
.mealImg1 {
  background-image: url("/martial1.png");
  width: 100%;
  height: 60%;
  background-repeat: no-repeat;
  background-position: 100% 30%;
  background-size: cover;
}

.mealImg2 {
  background-image: url("/martial2.png");
  width: 100%;
  height: 60%;
  background-repeat: no-repeat;
  background-position: 100% 30%;
  background-size: cover;
}

.mealImg3 {
  background-image: url("/martial3.jpeg");
  width: 100%;
  height: 60%;
  background-repeat: no-repeat;
  background-position: 100% 30%;
  background-size: cover;
}

/* Meal content styles */
.mealContent {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Meal header styles */
.mealHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mealTitle {
  color: #000;
  font-size: 21px;
  font-weight: 500;
  text-transform: uppercase;
}

/* Badge styles */
.ageBadge {
  border-radius: 12px;
  padding: 5px 20px;
  background: #ff011f;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

/* Tags styles */
.mealTags {
  margin-top: auto;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  margin-top: 1.2rem;
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
}

/* Button styles */
.btn {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  display: inline-block;
  text-decoration: none;
  transition: all 0.3s;
  font-size: 16px;
  margin-top: 26px; /* Space between tags and button */
  align-self: center; /* Aligns the button to the start of the content */
  background-color: #ff011f;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 12px;
  cursor: pointer;
  line-height: 22.5px;
  width: 163px;
}

.btn--full {
  background-color: #ff011f;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  color: #000;
  background-color: #fff;
}

.margin-right-sm {
  margin-right: 1.6rem;
}
