.sectionReviews {
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.reviewsContainer {
  padding: 5.5rem 3.2rem;
  background-color: #fff;
}

@media (max-width: 34em) {
  .reviewsContainer {
    padding: 5.5rem 3.2rem;
  }
}
