.containerPackages {
  padding: 0 3.2rem;
  margin: 0 auto;
}

.headingSecondaryPackages {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}
