.sectionPrograms {
  font-family: "Outfit", sans-serif;
  font-weight: 800;
  background-color: #000000;
  /* padding: 4.8rem 0 9.6rem 0; */
  height: 100%;
  /* background-image: url(/team-favicon.png);
  background-repeat: no-repeat;
  background-size: 9%;
  background-position: 76% 83%; */
  padding: 9.6rem 0;
  margin: 0 auto;
}

@media (max-width: 59em) {
  /* .sectionPrograms {
    background-size: 14%;
    background-position: 76% 91%;
  } */
}

@media (max-width: 34em) {
  /* .sectionPrograms {
    background-position: 87% 91%;
    padding: 2.4rem 0 6.4rem 0;
    background-size: 21%;
  } */
}

@media (max-width: 34em) {
  .sectionPrograms {
    padding: 2.4rem 0 6.4rem 0;
  }
}

.programs {
  display: grid;
  grid-template-columns: 1fr 1.4fr;
  align-items: start;
  gap: 6rem;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

@media (max-width: 84em) {
  .programs {
    max-width: 120rem;
  }
}

/* @media (max-width: 75em) {
  .programs {
    gap: 2rem;
  }
} */

@media (max-width: 75em) {
  .programs {
    padding: 4.8rem 3.2rem;
  }
}

@media (max-width: 59em) {
  .programs {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 34em) {
  .programs {
    padding: 0 3.2rem;
  }
}

.headingPrimaryPrograms {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  color: #ff011f;

  /* gap: 9.6rem; */
  /* margin: 0 auto 3.2rem; */
  padding: 0 3.2rem;

  max-width: 120rem;
  /* padding: 0 3.2rem; */
  margin: 0 auto;

  font-size: 4.4rem;
  margin-bottom: 9.6rem;
}

@media (max-width: 84em) {
  .headingPrimaryPrograms {
    font-size: 4rem;
  }
}

@media (max-width: 75em) {
  .headingPrimaryPrograms {
    font-size: 3.6rem;
    margin-bottom: 2.8rem;
  }
}

@media (max-width: 44em) {
  .headingPrimaryPrograms {
    margin-bottom: 2.8rem;
  }
}

@media (max-width: 34em) {
  .headingPrimaryPrograms {
    font-size: 3rem;
  }
}

.heroTextBox2nd {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  grid-column: 1;
}

.heroImgBox {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  grid-column: 2;
}

@media (max-width: 59em) {
  .heroImgBox {
    grid-column: 1;
  }
}

.imagePlaceholder {
  width: 100%;
  height: 380px; /* This can be adjusted as needed */
  margin-bottom: 1.4rem;
  background-color: #ccc;
  position: inset; /* Ensure positioning is set for child elements */
  overflow: hidden; /* Hide any part of the image that overflows the container */
  object-fit: cover;
  object-position: center;
}

@media (max-width: 59em) {
  .imagePlaceholder {
    height: 500px;
  }
}

@media (max-width: 34em) {
  .imagePlaceholder {
    height: auto;
    object-fit: cover;
  }
}

.btn {
  font-family: "Oswald", sans-serif;
  display: inline-block;
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 4.8rem;
}

@media (max-width: 59em) {
  .btn {
    font-size: 2.9rem;
    margin-top: 2rem;
    width: 100%;
    margin-right: 0 !important;
  }
}

@media (max-width: 34em) {
  .btn {
    font-size: 2rem;
  }
}

.btn--full {
  background-color: #ff011f;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  color: #fff;
  background-color: #990013;
}

.margin-right-sm {
  margin-right: 1.6rem;
}
