.tabContent {
  width: 100%;
}

.tabContent p {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.4;
  height: 100px;
}

@media (max-width: 59em) {
  .tabContent p {
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 1.4;
    height: 175px;
  }
}
