.tabContent {
  width: 100%;
}

.tabContent p {
  font-size: 2.6rem;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 3.2rem;
  color: #ff011f;
  letter-spacing: -0.5px;
}

.tabContent ul {
  list-style-type: disc;
  padding-left: 2rem;
}

.tabContent li {
  font-weight: 400;
  font-size: 1.9rem;
  color: #ffffff;
  line-height: 2;
  margin-bottom: 0.5rem;
}

@media (max-width: 59em) {
  .tabContent p {
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 1.8rem;
  }

  .tabContent li {
    font-size: 2.3rem;
  }
}

@media (max-width: 34em) {
  .tabContent p {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 1rem;
    margin-top: 0; /* Added margin for spacing */
  }

  .tabContent li {
    font-size: 1.4rem;
    line-height: 1.1;
  }
}
