.bookingTextBox {
  padding: 4rem 6rem;
  border-radius: 20px;
}

@media (max-width: 34em) {
  .bookingTextBox {
    padding: 0 3.2rem;
    margin-bottom: 4.8rem;
  }
}

.bookingHeading {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 8.6rem;
  color: #ffffff;
}

@media (max-width: 84em) {
  .bookingHeading {
    font-size: 6.4rem;
  }
}

.bookingHeading span {
  color: #000000;
}
