.sectionIntro {
  position: relative;
  background-image: url(/trial.jpeg);
  background-size: cover;
  background-position: 30% 24%;
  background-repeat: no-repeat;
  background-color: #000000;
  padding: 1.6rem 0 13.3rem 0;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media (max-width: 34em) {
  .sectionIntro {
    padding: 1.6rem 0 3.8rem 0;
  }
}

.intro {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 9.6rem;
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

@media (max-width: 84em) {
  .intro {
    max-width: 120rem;
  }
}

.introTextBox {
  grid-column: 1;
  grid-row: 2;
}
