.sectionIntro {
  position: relative;
  height: 85vh;
  background-image: url(/trial.jpeg);
  background-size: cover;
  background-position: 30% 24%;
  background-repeat: no-repeat;
}

@media (max-width: 34em) {
  .sectionIntro {
    padding: 0;
    height: 69vh;
  }
}

.intro {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  max-width: 124rem;
  margin: 0 auto;
  gap: 29rem;
  padding: 0 3.2rem;
  grid-template-rows: 1fr 1fr;
}

@media (max-width: 84em) {
  .intro {
    max-width: 120rem;
  }
}

@media (max-width: 75em) {
  .intro {
    gap: 4.8rem;
  }
}

@media (max-width: 59em) {
  .intro {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 60rem;
  }
}

@media (max-width: 34em) {
  .intro {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    padding: 0 3.2rem;
    gap: 3rem;
  }
}

.introTextBox {
  grid-column: 1;
  grid-row: 2;
}

@media (max-width: 34em) {
  .introTextBox {
    grid-column: 1;
    grid-row: 2;
  }
}
