.studentsContainer {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 2.8rem;
}

@media (max-width: 59em) {
  .studentsContainer {
    justify-content: center;
    margin-top: 3.2rem;
  }
}

.studentImgs {
  display: flex;
}

.studentsNumbers {
  font-size: 2.3rem;
  font-weight: 800;
  white-space: nowrap;
  color: #1e1e1e;
}

.studentsNumbers span {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  color: #ff011f;
}
