.sectionMentor {
  padding: 3rem 0;
  position: relative;
  background-color: #ff011f;
}

.headingSecondaryCoaches {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 4.6rem;
  color: #000000;
}

@media (max-width: 84em) {
  .headingSecondaryCoaches {
    font-size: 4.4rem;
  }
}

@media (max-width: 34em) {
  .headingSecondaryCoaches {
    margin-bottom: 2rem;
  }
}

.headingSecondaryCoaches span {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 4.6rem;
  color: #ffffff;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
}

.mentorContainer {
  display: flex;
  gap: 3rem;
  overflow: hidden;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 59em) {
  .mentorContainer {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.mentorCard {
  overflow: hidden;
  transition: transform 0.8s ease-in-out;
  height: 904px;
}

@media (max-width: 59em) {
  .mentorCard {
    padding: 0 3.2rem;
  }
}

@media (max-width: 768px) {
  .mentorCard {
    width: 100%;
  }
}
.mentorImg {
  position: relative;
  height: 700px;
  width: 464.227px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 51%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

@media (max-width: 59em) {
  .mentorImg {
    background-repeat: no-repeat;
    background-position: 50% 27%;
    width: 100%;
  }
}

.mentorContent {
  padding: 2rem 1rem;
  background: #ff011f;
  border: 1px solid #000;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 204px;
  margin: 0 auto;
  gap: 2rem;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.mentorName {
  color: #000000;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 59em) {
  .mentorName {
    font-size: 3.6rem;
  }
}

.mentorDetails {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mentorDetails li {
  margin-bottom: 0.9rem;
  font-size: 1.8rem;
  font-weight: 400;
  color: #eeee;
}

@media (max-width: 59em) {
  .mentorDetails li {
    font-size: 2.9rem;
  }
}

.sliderBtnMentor {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  font-size: 2rem;
  padding: 1rem;
  cursor: pointer;
  z-index: 10;
}

.sliderBtnMentor {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  font-size: 2rem;
  padding: 1rem;
  cursor: pointer;
  z-index: 10;
}

.sliderBtnLeft {
  left: 10px;
}

.sliderBtnRight {
  right: 10px;
}
