.sectionMentor {
  padding: 3rem 0;
  position: relative;
  background-color: #ff011f;
}

.headingSecondaryCoaches {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 4.6rem;
  color: #000000;
}

@media (max-width: 84em) {
  .headingSecondaryCoaches {
    font-size: 3.4rem;
  }
}

@media (max-width: 34em) {
  .headingSecondaryCoaches {
    margin-bottom: 2rem;
  }
}

.headingSecondaryCoaches span {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 4.6rem;
  color: #ffffff;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.mentorContainer {
  display: flex;
  gap: 3rem;
  overflow: hidden;
}

.mentorCard {
  background-color: #000000;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
  width: calc(100% / 2 - 1.5rem);
  transition: transform 0.8s ease-in-out;
}

@media (max-width: 768px) {
  .mentorCard {
    width: 100%;
  }
}
.mentorImg {
  position: relative; /* Important for next/image component */
  height: 700px;
  background-size: cover;
  background-position: center;
  border-radius: 10px 10px 0 0;
  border-right: 1px solid #ff011f;
  border-top: 1px solid #ff011f;
}

.mentorContent {
  padding: 1.5rem;
  background: #ff011f;
  border: 2px solid #000000;
  display: flex;
  justify-content: space-evenly;
  width: 100.3%;
}

.mentorName {
  color: #000000;
  font-size: 4rem;
  line-height: 2;
}

.mentorDetails {
  list-style: none;
  padding: 0;
}

.mentorDetails li {
  margin-bottom: 0.5rem;
  font-size: 1.7rem;
  color: #eeee;
}

.sliderBtnMentor {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  font-size: 2rem;
  padding: 1rem;
  cursor: pointer;
  z-index: 10;
}

.sliderBtnMentor {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  font-size: 2rem;
  padding: 1rem;
  cursor: pointer;
  z-index: 10;
}

.sliderBtnLeft {
  left: 10px;
}

.sliderBtnRight {
  right: 10px;
}
