.addressCol {
  display: flex;
  font-size: 3rem;
  flex-direction: column;
}

.footerHeading {
  font-size: 3.4rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 1.2rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.contacts p,
.footerLink {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s;
}

.footerLink:hover {
  text-decoration: underline;
  color: #555;
}
