.navCol {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: fit-content;
}

@media (max-width: 75em) {
  .navCol {
    width: auto;
  }
}

@media (max-width: 34em) {
  .navCol {
    width: auto;
  }
}

.footerHeading {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}
