.footer {
  background-color: #000;
  border-top: 1px solid #ff011f;
  border-bottom: 1px solid #ff011f;
  height: 50vh;
}

@media (max-width: 59em) {
  .footer {
    height: 80vh;
    text-align: center;
  }
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.gridFooter {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* align-items: center; */
  justify-content: center;
  /* row-gap: 9.6rem; */
  align-items: center;
  margin: 0 auto;
  height: 100%;
}

@media (max-width: 59em) {
  .gridFooter {
    grid-template-columns: 1fr;
    /* row-gap: 5rem; */
  }
}
