.martialArtsBox {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 4.8rem 3.2rem 9.6rem 3.2rem;
}

@media (max-width: 59em) {
  .martialArtsBox {
    font-size: 4.4rem;
    padding: 4.8rem 3.2rem 0rem 3.2rem;
  }
}

.headingPrimaryMartial {
  font-size: 5.2rem;
  line-height: 1.9;
  letter-spacing: 1px;
  margin-bottom: 3.2rem;
  color: #000;
}

@media (max-width: 84em) {
  .headingPrimaryMartial {
    font-size: 4.4rem;
  }
}

@media (max-width: 59em) {
  .headingPrimaryMartial {
    font-size: 3.5rem;
    margin: 0;
  }
}

.headingPrimaryMartialTwo {
  font-size: 3.6rem;
  margin-top: 5rem;
  line-height: 1.05;
  margin-bottom: 3rem;
  color: #000;
}

@media (max-width: 59em) {
  .headingPrimaryMartial span {
    display: inline-block;
    font-size: 2.9rem;
    margin: 0 auto;
  }
}
