.martialArtsBox {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 3rem 0 3rem;
}

@media (max-width: 59em) {
  .martialArtsBox {
    font-size: 4.4rem;
    padding: 4.8rem 3.2rem 4.8rem 3.2rem;
  }
}

.headingPrimaryMartial {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 1.05;
  margin-bottom: 7.6rem;
  color: #000;
}

@media (max-width: 84em) {
  .headingPrimaryMartial {
    font-size: 4.4rem;
  }
}

@media (max-width: 59em) {
  .headingPrimaryMartial {
    font-size: 3.5rem;
    margin: 0;
  }
}

.headingPrimaryMartialTwo {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 1.05;
  margin-bottom: 9rem;
  color: #000;
}
