.martialImgBox {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

@media (max-width: 84em) {
  .martialImgBox {
    display: flex;
    flex-direction: row;
    object-fit: fill;
  }
}

.martialImg {
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

@media (max-width: 84em) {
  .martialImg {
    display: block;
    object-fit: fill;
    height: 100%;
    display: flex;
    flex-direction: row;
  }
}
